.container{
    width: 100%;
    height: auto;
    background: #fff;
    overflow: hidden;
}

.container_content{
    width: 1320px;
    height: auto;
    max-height: 353px;
    margin: 0 auto;
    background: url(../../../../../../../public/img/image2.png);
    border-radius: 32px;
    display: flex;
}

.title_container h2{
    font-size: 55px;
    font-weight: 300;
    color: #504cff;
    padding: 40px 0 10px 40px;
    max-width: 850px;
}

.text_container p{
    color: #414141;
    font-size: 28px;
    font-weight: 400;
    padding: 10px 0 10px 40px;
}

.button{
    padding: 40px 0 60px 40px;
}

.button a{
    font-size: 18px;
    color: #fff;
    border-radius: 12px;
    font-weight: 400;
    background-color: #504cff;
    padding: 16px 60px;
}

.container img{
    position: relative;
    top: -60px;
    left: -25px;
}

@media screen and (max-width: 500px) {
    .container_content{
        width: 320px;
        height: 428px;
        position: relative;
        max-height: fit-content;
        overflow: hidden;
        background-size: cover;
        background-repeat: no-repeat;
        background-position-x: -462px;
    }
    .title_container h2{
        font-size: 32px;
        font-weight: 300;
        color: #504cff;
        padding: 20px 0 5px 20px;
        max-width: 850px;
    }
    .text_container p{
        color: #414141;
        font-size: 16px;
        font-weight: 400;
        padding: 10px 0 5px 20px;
    }
    .button{
        padding: 0;
        z-index: 1;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: flex-end;
    }
    .button a{
        padding: 16px 100px;
        margin-bottom: 30px;
    }
    .container img{
        width: 232px;
        height: 309px;
        position: absolute;
        top: 197px;
        left: 116px;
    }
    .container_options{
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }
}